.preview-card-container {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1050;
  width: 400px;
  animation: flicker-in 0.5s forwards;
}

.preview-card {
  background-color: rgba(13, 2, 33, 0.85);
  border: 1px solid #00f9ff;
  color: white;
  backdrop-filter: blur(10px);
}

@keyframes flicker-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.9;
  }
}
